h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

h2 {
  font-size: 32px;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-size: 22px;
  line-height: 33px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

@media screen and (width >= 1200px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 900;
  }

  h1 {
    font-size: 56px;
    line-height: 84px;
  }

  h2 {
    font-size: 48px;
    line-height: 72px;
  }

  h3 {
    font-size: 28px;
    line-height: 42px;
  }

  h4 {
    font-size: 24px;
    line-height: 36px;
  }

  h5 {
    font-size: 22px;
    line-height: 33px;
  }

  h6 {
    font-size: 18px;
    line-height: 27px;
  }
}
