.link-text-hidden {
  display: block;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

%limit-line {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

// 需另外搭配寬度(width)使用
.limit-line-three {
  @extend %limit-line;

  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.limit-line-two {
  @extend %limit-line;

  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.limit-line-four {
  @extend %limit-line;

  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.is-btn {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  @media screen and (width >=768px) {
    &:hover:not([disabled]) {
      opacity: 0.5;
    }
  }
}

.text-sm {
  font-size: 14px;
}

form.was-invalidated {
  .form-control.invalid-field {
    border: 1px solid $danger;

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($red-600, 0.25);
    }
  }

  .invalid-feedback {
    display: block !important;
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
